:root {
    --main-bg: rgb(21, 98, 161);
    --main-opq-bg: rgba(0, 0, 0, 0.6);
    --main-opq2-bg: rgba(0, 0, 0, 0.4);
    --main-text: rgba(255, 255, 255, 1);
}

body {
    background-image: url("/static/custom/smartHome.jpg");
}

.template-contents{
    height: 100%;
}

.box{
    background: none !important;
}

.customWidget {
    width: 100%;
    height: 100%;
    font-size: 0.8vw;
}

.customHeader {
    width: 100%;
    height: 20%;
    background: var(--main-opq2-bg);
}

.customHeader div {
    display: inline-block;
}

.customHeader .icon {
    width: 20%;
    height: 100%;
    float: left;
}

.customHeader .icon svg {
    width: 100%;
    height: 100%;
}

.customHeader .name {
    width: 60%;
    height: 100%;
    text-align: left;
    color: var(--main-text);
}

.customHeader span {
    position: relative;
    top: 30%;
    display: block;
}

.customHeader .value {
    width: 20%;
    height: 100%;
    float: right;
    color: var(--main-text) !important;
}

.content {
    width: 100%;
    height: 80%;
    background: var(--main-opq-bg);
}

.content iframe {
    width: 100%;
    height: 100%;
    border: 0px;
}

.icon svg {
    fill: var(--main-text);
    display: block;
    max-width: 100%;
    margin: 0 auto;
}