:root {
    --main-bg: rgb(21, 98, 161);
    --main-opq-bg: rgba(0, 0, 0, 0.4);
    --main-opq2-bg: rgba(0, 0, 0, 0.3);
    --main-text: rgba(255, 255, 255, 1);
    --primary-color: rgba(255, 255, 255, 1) !important;
    --secondary-color: rgba(20,192,114, 1) !important;
    --secondary-opq-color: rgba(20,192,114, 0.4) !important;
}

.customWidget .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.container {
    background-image: url("/static/custom/images/background.jpg") !important;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}

.template-contents{
    height: 100%;
}

.box{
    background: none !important;
}

.box-content {
    padding: 0px !important;
    background-color: var(--main-opq-bg) !important;
}

.header {
    background: rgba(0, 0, 0, 0.85) !important;
}

.customWidget {
    width: 100%;
    height: 100%;
    font-size: 0.8vw;   
    display: flex;
    flex-flow: column;
}

.customWidget.s {
}

.customWidget.m {
}

.customWidget.l {
}

.customWidget.xl {
}

.customWidget.xxl {
}

.customWidget.max {
}

.customHeader {
    width: 100%;
    height: 5vh;
}

.customHeader div {
    display: inline-block;
}

.customHeader .icon {
    width: 20%;
    height: 100%;
    float: left;
    padding: 0.4vw;
    padding-left: 0.7vw;
}

.customHeader .icon img {
    height: 100%;
    vertical-align: unset !important;
    float: left;
}

.invert {
    filter: invert(100%);
}

.customHeader .icon svg {
    width: 100%;
    height: 100%;
    fill: var(--main-text);
}

.customHeader .name {
    width: 60%;
    height: 100%;
    text-align: center;
    color: var(--main-text);
}

.customHeader span {
    line-height: 5vh;
    top: 0.9vw;
}

.customHeader .value {
    width: 20%;
    height: 100%;
    float: right;
    color: var(--main-text) !important;
}

.content {
    width: 100%;    
    flex: 1 1 auto;
    background: var(--main-opq2-bg);
}

.info {
    padding: 2%;
}

.iframe {
    display: flex;
}

.iframe .dst {
    flex: 1 1 auto;
}

.content iframe {
    width: 100%;
    border: 0px;
    height: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.block {
    display: block;
}

.row {
    width: 100%;
    padding: 1% 2% 0% 2%;
}

.dst {
    width: 100%;
}

.rzslider {
    margin: 3vw 0 1vw 0 !important;
}

.rz-bar {
    display: none !important;
}

.rzslider .rz-pointer {
    background-color: var(--main-opq2-bg) !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    width: 4vw !important;
    height: 4vw !important;
}

.rzslider .rz-pointer:after {
    background-color: transparent;
}

.rzslider .rz-pointer:hover:after {
    background-color: transparent;
}

:not(.bigslider).rz-bubble {
    color: var(--main-text);
}

.slider-label {
    font-size: 0.8vw;
}

.rzslider .rz-bubble {
    font-size: 0.8vw;
}

.slider-content {
    margin-top: 1.3vh;
}

.itemActive::after {
    content: " ●";
    color: var(--secondary-color);
}