:root {
    --main-bg: rgb(21, 98, 161);
    --main-opq-bg: rgba(0, 0, 0, 0.4);
    --main-opq2-bg: rgba(0, 0, 0, 0.3);
    --main-text: rgba(255, 255, 255, 1);
    --secondary-text: rgba(107, 107, 107, 1);
    --primary-color: rgba(255, 255, 255, 1) !important;
    --secondary-color: rgba(20,192,114, 1) !important;
    --secondary-opq-color: rgba(20,192,114, 0.4) !important;
}

/* latin */
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    src: local('Orbitron Regular'), local('Orbitron-Regular'), url("/static/custom/themes/orbitron.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.container {
    background-image: url("/static/custom/images/background.jpg") !important;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}

.rzslider {
    margin: 3vw 0 1vw 0 !important;
}

.rz-bar {
    display: none !important;
}

.rzslider .rz-pointer {
    background-color: var(--main-opq2-bg) !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    width: 3vw !important;
    height: 3vw !important;
}

.rzslider .rz-pointer:after {
    background-color: transparent;
}

.rzslider .rz-pointer:hover:after {
    background-color: transparent;
}

:not(.bigslider).rz-bubble {
    color: var(--main-text);
}

.slider-label {
    font-size: 0.8vw;
}

.rzslider .rz-bubble {
    font-size: 0.8vw;
}

.slider-content {
    margin-top: 0.7vw;
}

.itemActive::after {
    content: " â—";
    color: var(--secondary-color);
}

div.kiosk.container {
    background-image: none !important;
    background-color: black;
}

.template-container {
    display: block !important;
}

.template-contents {
    height: 100%;
}

.box{
    background: none !important;
}

.box-content {
    padding: 0px !important;
    background-color: var(--main-opq-bg) !important;
}

.header {
    background: rgba(0, 0, 0, 0.85) !important;
}

.customWidget {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.customWidget > table {
    width: 100%;
    height: 100%;
}

.customHeader {
    width: 100%;
    height: 10%;
}

.customHeader .icon img {
    height: 100%;
    padding-left: 10%;
}

.content {
    background: var(--main-opq2-bg);
    height: 90%;
    width: 100%;
    top: 10%;
    position: absolute;
    overflow: hidden;
}

.headless {
    height: 100% !important;
    top: 0% !important;
}

.content > table {    
    width: 100%;
    height: 100%;
}

tr.content > td {  
    width: 100%;
    height: 100%;
    position: absolute;
}

iframe {    
    position: absolute;
    height: 100%;
    width: 100%;
    border: none;
}

.invert {
    filter: invert(100%);
}

.customHeader span {
    color: var(--main-text) !important;
}

th.value {
    width: 20%;
    left: 80%;
}

th.icon {
    height: 10%;
}

th.name {
    width: 60%;
    left: 20%;
}

th {
    text-align: center;
    font-weight: normal;
    position: absolute;
    height: 10%;
}

th span {
    position: absolute;
    display: block;
    width: 100%;
}

table.valueList {
    width: 100%;
    position: absolute;
    font-size: 150%;
}

table.valueList td {
    text-align: left;
}

table.valueList tr td:nth-child(1) {
    padding-left: 1%;
}

table.calendar {
    position: absolute;
    width: 100%;
    height: 100%;
}

table.calendar th {
    position: relative;
}

table.calendar .oddMonth {
    color: var(--secondary-text) !important;
}

table.calendar td.today {
    border: 1px solid var(--main-text);    
}

.singleNumericText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: var(--main-text);
    font-family: Orbitron;
    letter-spacing: 7px
}