[Desktop Entry]
Type=Application
Exec=/usr/bin/chromium-browser --noerrdialogs --enable-offline-auto-reload --disable-session-crashed-bubble --disable-infobars --kiosk http://192.168.0.5:8080/habpanel/index.html#/view/SmartMirror?kiosk=on
Hidden=false
X-GNOME-Autostart-enabled=true
Name[en_US]=AutoChromium
Name=AutoChromium
Comment=Start Chromium when GNOME starts